name: CI/CD

on:
  push:
    branches: "main"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Download dependencies
        run: flutter pub get

      - name: Build
        run: flutter build web --release --web-renderer canvaskit

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v1
        with:
          path: "build/web/"

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v1
